<suite name="AllSuite" verbose="1" >
    <test name="LogTest" >
        <classes>
            <class name="test.java.project.tests.LoginTest" />
        </classes>
    </test>
    <test name="InboxTest" >
        <classes>
            <class name="test.java.project.tests.InboxTest" />
        </classes>
    </test>
</suite>
