<suite name="GmailSuite" verbose="1">
    <listeners>
        <listener class-name="project.utils.ListenerTestsClass"/>
    </listeners>
    <test name="Group of login Test">
        <groups>
            <define name="login">
                <include name="LoginTest" />
            </define>
            <define name="inbox">
                <include name="InboxTest"/>
            </define>
            <run>
                <include name="login" />
                <include name="inbox"/>
            </run>
        </groups>
        <classes>
            <class name="project.tests.LoginTest"/>
            <class name="project.tests.InboxTest"/>
        </classes>
    </test>
</suite>
